@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
}

h2 {
  padding-top: 25 px;
}

p {
  padding-bottom: 5px;
}

img {
  max-height: 80vh;
  height: auto;
  width: 100%;
}

.card {
  border-radius: 5px;
}

.level-left {
  display: block;
}

.level-right {
  flex-direction: column;
}

.date {
  padding-top: 8px;
}

.carousel-button {
  margin: 25px 0;
}

.navbar a:hover {
  color: hsl(348, 100%, 61%);
}

nav.navbar.is-dark div.container div.navbar-menu div.navbar-end a.navbar-item:hover,
nav.navbar.is-dark div.container div.navbar-brand a.navbar-item:hover {
  color: hsl(48, 100%, 67%);
}

a.button.is-dark:hover, button.button.is-dark:hover {
  background: hsl(48, 100%, 67%);
  color: hsl(0, 0%, 21%);
}

div.mainContainer {
  section.section {
    padding-top: 0;
  }

  section.section:first-child {
    padding-bottom: 10px;
  }
}

.home-container {
  padding-top: 15%;
  height: 95vh;
  background-image: url("https://images-assets.nasa.gov/image/PIA04921/PIA04921~orig.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h1.title,
  h2.subtitle{
    text-align: center;
  }

  h1 {
    font-size: 150px;
  }

  h2 {
    padding-top: 25px;
  }

  .button {
    margin-top: 50px;
  }

  div.columns.is-centered.is-multiline div.column.is-5 {
    display: flex;
    justify-content: center;
  }
}
